*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    height: 50px;
}
.controlers{
    position: absolute;
    z-index: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-botao{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.c-botao-img{
    width: 70px;
    height: 70px;
    height: inherit;
    background-position: center;
    background-size: cover;
}
.slider{
    width: 1900px;
    height: 917px;
    overflow: hidden;
}
.s-width{
    height: 100%;
    display: flex;
    transition: all ease 0.5s;
}
.s-img{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}